body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border: 2px solid gray ;
  width: 500px;
  height: 100px;
}

.date-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-picker label {
  font-weight: bold;
}

.date-picker input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkorange;
}

.calendar {
  display: none;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.calendar th {
  background-color: #f0f0f0;
}

.calendar td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
